<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Liste des Emprunts</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Liste des Emprunts</h1>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Date d'Emprunt</th>-->
<!--        <th>Date de Retour Prévue</th>-->
<!--        &lt;!&ndash; Ajoutez d'autres colonnes selon vos besoins &ndash;&gt;-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="emprunt : ${emprunts}">-->
<!--        <td th:text="${emprunt.id}"></td>-->
<!--        <td th:text="${emprunt.dateEmprunt}"></td>-->
<!--        <td th:text="${emprunt.dateRetourPrevue}"></td>-->
<!--        &lt;!&ndash; Ajoutez d'autres colonnes selon vos besoins &ndash;&gt;-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->